#success-message {
    opacity: 0;
  }
  
  .col-xs-12.col-sm-12.col-md-12.col-lg-12 {
    padding: 0 20% 0 20%;
  }
  
  .margin-top-25 {
    margin-top: 25px;
  }

  .contact{
    margin-left: auto;
    margin-right: auto;
  }
  
  .form-title {
    padding: 25px;
    font-size: 30px;
    font-weight: 300;
    color: #CE5959;
  }

  ::placeholder{
    color: #EFA282!important;
    font-weight: lighter;
  }
  
  .form-group .form-control {
    -webkit-box-shadow: none;
    border-bottom: 1px;
    border-style: none none solid none;
    border-radius:0; 
    border-color: #EFA282;
  }
  
  .form-group .form-control:focus {
      box-shadow: none;
    border-width: 0 0 2px 0;
    border-color: #EFA282;
    
  }
  
  textarea {
    resize: none;
  }
  @media screen and (min-width:768px) and (max-width:1023px){
    .contact{
      margin-left: auto;
      margin-right: auto;
    }
  }
  @media screen and (min-width:1024px){
    .contact{
      margin-left: auto;
      margin-right: auto;
    }
  }
  /* //IMG// */

  .img-contact{
    width: 100%!important;
    height: 800px!important;
    overflow: hidden!important;
    position: absolute;
  }

.bas1{
  
  width:140px;
  height:145px;
  transform: rotate(-224deg) scaleY(-1);
  position: absolute;
  z-index: 6;
  right: -22px;
  top: -61px;
}

.bas2{
  width:140px;
  height:145px;
  transform: rotate(-43deg);
  position: absolute;
  z-index: 3;
  left: -65px;
  top: 600px;
}
.dess{
  width:220px;
  height: auto;
  position: absolute;
  z-index: 7;
  top: 610px;
  right: -100px;
}
@media screen and (min-width:768px) and (max-width:1023px){

  .img-contact{
    width: 100%!important;
  }

  .bas1{
    width:273px;
    height:283px;
    top: -145px;
  }
  .bas2{
    
    width:273px;
    height:283px;
    top: 511px;
    left: -131px;

  }
  .dess{
    width:400px;
    height: auto;
    top: 550px;
    right: -165px;
  }
}
@media screen and (min-width:1024px){

  .img-contact{
    width: 100%!important;
  }

  .bas1{
    width:343px;
    height:364px;
    top: -196px;
  right: -42px;
  }
  .bas2{
    
    width:343px;
    height:364px;
    top: 451px;
    left: -159px;

  }
  .dess{
    width:600px;
    height: auto;
    top: 450px;
    right: -250px;

  }
}



  /* // CONTACT BUTTON // */


  .btn-mod.btn-large {
      height: auto;
      padding: 13px 52px;
      font-size: 15px;
  }
  
  .btn-mod.btn-border {
      color: #EFA282;
      border: 1px solid #EFA282;
      background: transparent;
  }
  
  .btn-mod, a.btn-mod {
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      padding: 4px 13px;
      color: #fff;
      background: rgba(34,34,34, .9);
      border: 1px solid transparent;
      font-size: 11px;
      font-weight: 400;
      text-transform: uppercase;
      text-decoration: none;
      letter-spacing: 2px;
      -webkit-border-radius: 0;
      -moz-border-radius: 0;
      border-radius: 0;
      -webkit-box-shadow: none;
      -moz-box-shadow: none;
      box-shadow: none;
      -webkit-transition: all 0.2s cubic-bezier(0.000, 0.000, 0.580, 1.000);
      -moz-transition: all 0.2s cubic-bezier(0.000, 0.000, 0.580, 1.000);
      -o-transition: all 0.2s cubic-bezier(0.000, 0.000, 0.580, 1.000);
      -ms-transition: all 0.2s cubic-bezier(0.000, 0.000, 0.580, 1.000);
      transition: all 0.2s cubic-bezier(0.000, 0.000, 0.580, 1.000);
  }
  
  .btn-mod.btn-border:hover, .btn-mod.btn-border:active, .btn-mod.btn-border:focus, .btn-mod.btn-border:active:focus {
      color: #fff;
      background: #CE5959;
      outline: none;
  }
  


/* // MEDIA // */


  @media only screen and (max-width: 500px) {
      .btn-mod.btn-large {
         padding: 6px 16px;
         font-size: 11px;
      }
    
      .form-title {
          font-size: 20px;
          color: #CE5959;
    }
  }
  