/* // PRESET // */

@font-face{
  font-family: "Tw Cen MT";
  src: url("./fonts/TCM")
}
@font-face{
  font-family: "Great vibes";
  src: url("./fonts/GREAT");
}
@font-face{
  font-family: "Roboto";
  src: url("./fonts/ROBOTO");
}

html, body{
  font-family: "Roboto";
  min-height: 100%;
}

*, ::before, ::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
/* 
#page{
  min-height: 100%;
  position: relative;  
} */



/* // NAV // */

.back-nav{
  background-size: cover;
  height: 20vh;
  position: relative;
  overflow: hidden;

}
.back-nav .ban{
  position: absolute;
   width: 100%;
  height:auto;
}

.btn-red{
    background-color: #CE5959;
    color: white;
}
.navbar-toggler{
  border:none;
}

.rond{
    position: absolute;
    background:white;
    border-radius:50%;
    width:60px;
    height:60px;

}
.logo{
    position: absolute;
    width:32px;
    height:auto;
}

@media screen and (min-width:768px) and (max-width:1023px){
  .back-nav{
    height:30vh;
  }
  .back-nav .ban-log{
    margin-top: 2vh;
  }
  .rond{
    width:100px;
    height:100px;
  }
  .logo{
      width:60px
  }
}
@media screen and (min-width:1024px){

  .back-nav{
    height:50vh;
  }
  .back-nav .ban-log{
    margin-top: 7vh;
  }

  .rond{
    width:230px;
    height:230px;
  }
  .logo{
      width:120px;
      height: auto;
  }
}

/* // ANIMATION NAV // */

.nav-mod.nav-large {
  height: auto;
  padding: 9px 52px;
  font-size: 15px;
}

.nav-mod.nav-border {
  color: #EFA282;
  border: none;
  background: transparent;
}

.nav-mod, a.nav-mod {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 4px 13px;
  color: #fff;
  background: rgba(34,34,34, .9);
  border: 1px solid transparent;
  font-size: 11px;
  font-weight: 400;
  text-transform: uppercase;
  text-decoration: none;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  -webkit-transition: all 0.2s cubic-bezier(0.000, 0.000, 0.580, 1.000);
  -moz-transition: all 0.2s cubic-bezier(0.000, 0.000, 0.580, 1.000);
  -o-transition: all 0.2s cubic-bezier(0.000, 0.000, 0.580, 1.000);
  -ms-transition: all 0.2s cubic-bezier(0.000, 0.000, 0.580, 1.000);
  transition: all 0.2s cubic-bezier(0.000, 0.000, 0.580, 1.000);
}

.nav-mod.nav-border:hover, .nav-mod.nav-border:active, .nav-mod.nav-border:focus, .nav-mod.nav-border:active:focus{
  color: #fff!important;
  background: #CE5959;
  outline: none;
}


/* // FOOTER // */

footer{
  z-index: 10;
  height:83px;
  width: 100%;
  font-size:7px;
  margin-top: -5%;
  position: relative;
  bottom: 0!important;left: 0;
  background-color:#CE5959;
  color:white;
  display: flex;
  align-items: center;
  padding-left: 5%;
  overflow: hidden;
  
}
ul{
  width: 100%;
}
ul li{
  list-style: none;
  text-align:start
}
ul i{
  font-family: 'Roboto';
  font-size: 10px;
  display: flex;
  justify-content: center;
  margin-right: 10%;
}

/* .fab::before{
  padding-right: 10px;
} */


@media screen and (min-width:768px) and (max-width:1024px){

  footer{
    height: 100px;
    width:100%;
    bottom: 0!important;
    font-size:10px;
    padding-left:8%;
  }
  ul i{
    font-size: 25px;
  }

}
@media screen and (min-width:1024px){
  footer{
    height: 200px;
    width:100%;
    bottom: 0!important;
    font-size:20px;
    padding-left:8%;
  }
  ul i{
    font-size: 35px;
    display: flex;
    justify-content: start;
  }
  ul{
    padding-left:10%
  }

}


