/* // PRESET // */

@font-face{
  font-family: "Tw Cen MT";
  src: url("./fonts/TCM")
}
@font-face{
  font-family: "Great vibes";
  src: url("./fonts/GREAT");
}
@font-face{
  font-family: "Roboto";
  src: url("./fonts/ROBOTO");
}

html, body{
  font-family: "Roboto";
  height: 100%;
}

*, ::before, ::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
/* 
#page{
  min-height: 100%;
  position: relative;  
} */



/* // NAV // */

.btn-red{
    background-color: #CE5959;
    color: white;
}

.navbar-toggler{
  border:none;
}


/* // Bannière // */

.ban {
    position: relative;
    margin: 10px 0;
    height:130px;
    overflow: hidden; /* Coupe ce qui dépasse de la div ( trop utile !) */
  }  
  img {   
    max-width: 100%;
    height: auto;
  }
.rond{
    position: absolute;
    background:white;
    border-radius:50%;
    width:60px;
    height:60px;
}
.logo{
    position: absolute;
    width:32px
}
@media screen and (min-width:768px) and (max-width:1023px){
  .ban{
    height:230px
  }
  .rond{
    width:100px;
    height:100px;
  }
  .logo{
      width:60px
  }
}
@media screen and (min-width:1024px){
  .ban{
    height:500px;
  }
  .rond{
    width:230px;
    height:230px;
  }
  .logo{
      width:120px;
      height: auto;
  }
}




/* // FOOTER // */

footer{
  z-index: 10;
  height:83px;
  width: 100%;
  font-size:7px;
  margin-top: -5%;
  position: relative;
  bottom: 0!important;left: 0;
  background-color:#CE5959;
  color:white;
  display: flex;
  align-items: center;
}
ul li{
  list-style: none;  
}
@media screen and (min-width:768px) and (max-width:1024px){

  footer{
    height: 150px;
    width:100%;
    bottom: 0!important;
    font-size:15px;
  }
}
@media screen and (min-width:1024px){
  footer{
    height: 250px;
    width:100%;
    bottom: 0!important;
    font-size:20px;
  }
}


